
/****** GLOBAL ******/

* {
	padding: 0;
	margin:  0;
	box-sizing: border-box;
}

/****** TEXT ******/

.column_header {
	color: #FFF;
	font-size: 24px;
	margin-bottom: 30px;
	padding: 10px 40px;
	border-radius: 7px;

	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier();
}

.time {
	float: left;
	color: red;
}

/****** ELEMENTS ******/

.view {
	height: 100vh;
	display: flex;
	align-items: center;

	background-color: #000;
}

.column {
	width: 100%;
	height: calc(100%);
	padding: 40px;

	overflow: auto;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier();
} .column:last-of-type {
	margin-right: 20px;
} .column:first-of-type {
	margin-left: 20px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 20px;
	margin-bottom: 20px;

	height: 100%;
	width: 100%;
	border-radius: 15px;

	font-size: 18px;
	background-color: #FFF;
	cursor: grab;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier();
} .item:last-of-type {
	margin-bottom: 0;
}

.schedule {
	padding: 20px 40px;
	flex-direction: row;
	justify-content: space-around;
}

/****** SELECTION ******/

.column_selected {
	color: #000;
	box-shadow: 0 5px red;
	background-color: #FFF;
}

.item_selected {
	transform: translate(0, -5px);
	box-shadow: 0 5px red;
}
